<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>APIBaseURL</key>
    <string>http://192.168.1.7:8000</string>
    <key>SubscriptionProductIDs</key>
    <array/>
    <key>PrivacyPolicyURL</key>
    <string></string>
    <key>TermsOfUseURL</key>
    <string></string>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
